    <div class="user-list">
      <div class="header">
        <img height="40" src="../../../assets/chatapp.png" alt="chat image" />
        <h1>Chat App </h1>
      </div>
      <div *ngFor="let user of users" class="user-card" (click)="showMessage(user.id)">
        <div class="username">
          <div class="img">
            <span>t</span>
          </div>
          <strong>Name:</strong> {{ user.name }}
        </div>
        <strong>Email:</strong> {{ user.email }}
      </div>
    </div>
